[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl.git
[submodule "third_party/FastNoise2"]
	path = third_party/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "third_party/broimage"]
	path = third_party/broimage
	url = https://github.com/wlejon/broimage.git
[submodule "third_party/bromath"]
	path = third_party/bromath
	url = https://github.com/wlejon/bromath.git
