[submodule "third_party/quickjs"]
	path = third_party/quickjs
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl.git
[submodule "third_party/FastNoise2"]
	path = third_party/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "third_party/broimage"]
	path = third_party/broimage
	url = git@github.com:wlejon/broimage.git
